html, body {
  font-family: "Audiowide";
  background-color: #EDF0EE;
  background: url(red4k.jpg) no-repeat center center fixed;
  min-width: 100vw;
  min-height: 100vh; }

.navbar {
  background-color: #121111;
  color: white;
  min-width: 100vw;
  min-height: 10vh;
  padding: 0;
  font-size: .5rem; }

.navbar h1 {
  font-family: 'Audiowide', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5em;
  margin: .7rem 0 0 2rem;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none; }

.container {
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  text-align: center;
  background-color: rgba(18, 17, 18, 0.8);
  min-width: 80vw;
  min-height: 90vh; }

.nav-link {
  font-family: "Sarala", sans-serif;
  height: 3em;
  color: grey;
  text-decoration: none;
  line-height: 2.5;
  border-bottom: 3px grey solid;
  min-width: 80vw;
  position: relative;
  left: -.38em;
  font-size: 2.2em; }

.nav-link:hover {
  border-bottom: 3px white solid;
  color: #FFF; }

@media only screen and (max-width: 1980px) {
  html, body {
    font-family: "Audiowide";
    background-color: #EDF0EE;
    background: url(red.jpeg) no-repeat center center fixed;
    min-width: 100vw;
    min-height: 100vh; }
  .navbar {
    background-color: #121111;
    color: white;
    min-width: 100vw;
    min-height: 10vh;
    padding: 0;
    font-size: .5rem; }
  .navbar h1 {
    font-family: 'Audiowide', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
    margin: .7rem 0 0 2rem;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none; }
  .container {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    text-align: center;
    background-color: rgba(18, 17, 18, 0.8);
    min-width: 80vw;
    min-height: 90vh; }
  .nav-link {
    font-family: "Sarala";
    height: 3em;
    color: grey;
    text-decoration: none;
    line-height: 2.5;
    border-bottom: 3px grey solid;
    min-width: 80vw;
    position: relative;
    left: -.38em;
    font-size: 1.2em; }
  .nav-link:hover {
    border-bottom: 3px white solid;
    color: #FFF; } }

@media only screen and (max-width: 1024px) {
  .navbar {
    font-size: .65rem; }
  .container {
    position: absolute;
    margin-left: 0;
    min-width: 100vw;
    left: 0; }
  .nav-link {
    font-size: 1em;
    color: white;
    border-bottom: 3px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1em;
    width: 100vw;
    left: -.5em; } }

@media only screen and (max-width: 770px) {
  body {
    max-width: 100vw;
    max-height: 100vh; }
  .navbar {
    min-height: 7vh;
    padding: 15px 0;
    font-size: .7rem;
    left: 0; }
  .navbar h1 {
    margin-left: .75em; }
  .container {
    min-width: 100vw;
    min-height: 92vh;
    margin: 0; }
  .nav-link {
    font-size: .8em;
    color: white;
    border-bottom: 3px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1.75em;
    width: 100vw;
    left: -.5em; } }

@media only screen and (max-width: 420px) {
  body {
    max-width: 100vw;
    max-height: 100vh; }
  .navbar {
    min-height: 15%;
    padding: 15px 0;
    font-size: .5rem;
    left: 0; }
  .navbar h1 {
    margin-left: .75em; }
  .container {
    width: 100vw;
    max-height: 100vh;
    margin: 0; }
  .nav-link {
    font-size: .6em;
    color: white;
    border-bottom: 3px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1.75em;
    width: 102vw;
    left: -.75em; } }

@media only screen and (max-width: 375px) {
  .navbar {
    min-height: 10%;
    padding: 5px 0;
    font-size: .5rem;
    left: 0; }
  .navbar h1 {
    margin-left: .75em; }
  .container {
    width: 100vw;
    min-height: 100vh;
    margin: 0; }
  .nav-link {
    font-size: .6em;
    color: white;
    border-bottom: 3px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1.75em;
    width: 100vw;
    left: -.75em; } }

@media only screen and (max-width: 360px) {
  body {
    max-width: 100vw;
    max-height: 100vh; }
  .navbar {
    min-width: 100vw;
    min-height: 9em;
    position: relative;
    font-size: .4rem;
    left: 0; }
  .navbar h1 {
    margin-left: .5em; }
  .container {
    width: 100vw;
    max-height: 100vh;
    margin: 0; }
  .nav-link {
    font-size: .5em;
    color: white;
    border-bottom: 2px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1.5em;
    width: 100vw;
    left: -.75em; } }

@media only screen and (max-width: 320px) {
  .navbar {
    min-height: 9em;
    position: relative;
    font-size: .4rem;
    left: 0; }
  .navbar h1 {
    margin-left: .5em; }
  .container {
    width: 100vw;
    max-height: 100vh;
    margin: 0; }
  .nav-link {
    font-size: .5em;
    color: white;
    border-bottom: 2px grey solid;
    position: relative;
    margin-top: 0;
    margin-top: 1.5em;
    width: 100vw;
    left: -.75em; } }
