/***************************
    Site Design CSS */
$break-smallest: 320px
$break-mobile-large: 560px
$break-ipad: 770px
$break-screen-1024: 1024px
$break-screen-1440: 1440px
$break-screen-1980: 1980px
html

body
  padding: 0
  border: 0
  margin: 0
  min-width: 100vw
  min-height: 100vh
  font-family: 'Audiowide'
  text-transform: uppercase

.navbar
  position: fixed
  min-width: 100vw
  min-height: 100px
  background-color: #000

.navbar h1
  position: absolute
  margin: 0
  top: 1em
  left: 1.5em

.navbar h1 a
  font-size: 1.8em
  text-decoration: none
  color: white

#navbarnav
  position: absolute
  right: 0
  top: 1.4em

.nav-link
  color: grey
  text-decoration: none
  padding-right: 3em
  font-family: 'Sarala'
  font-size: 1.5em
  font-weight: bolder

.nav-link:hover
  color: white
  text-decoration: underline

.fa.fa-bars
  visibility: hidden

iframe
  min-width: 100vw
  min-height: 100vh

@media screen and (max-width: $break-screen-1980)

  .navbar
    position: fixed
    min-width: 100vw
    min-height: 60px

  .navbar h1
    top: 1em
    font-size: 1em

  #navbarnav
    top: .5em
  .nav-link
    font-size: 1em

  .fa.fa-bars
    visibility: hidden

  .hold_iframe
    min-height: 100vh
    width: 100vw
    position: absolute
    top: 3.5em
    z-index: -1

@media screen and (max-width: $break-screen-1440)

  .navbar
    position: fixed
    min-width: 100vw
    min-height: 50px

  .navbar h1
    top: 15px
    font-size: .8em

  #navbarnav
    top: 0

  .nav-link
    font-size: .8em

  .fa.fa-bars
    visibility: hidden

  .hold_iframe
    max-height: 100vh
    max-width: 100vw
    position: absolute
    top: 3em
    z-index: -1

@media screen and (max-device-width: $break-screen-1024)

  .navbar
    position: fixed
    min-width: 100%
    min-height: 50px

  .navbar h1
    top: 16px
    font-size: .8em

  #navbarnav
    top: 0

  .nav-link
    font-size: .8em
    padding-right: 1.2em

  .fa.fa-bars
    visibility: hidden

  .hold_iframe
    max-height: 80vh
    max-width: 100vw
    position: absolute
    top: 3em
    z-index: -1

@media screen and (max-device-width: $break-ipad)

  .navbar
    min-height: 50px
    max-height: 50px

  .navbar h1
    top: 15px
    min-height: 20px
    max-height: 20px
    font-size: .6rem

  #navbarnav
    margin: 0
    top: 20px

  .nav-link
    top: 15px
    font-size: .6em
    padding-right: .6rem
    font-weight: bolder

  .fa.fa-bars
    visibility: hidden

@media screen and (max-device-width: $break-mobile-large)

  .navbar h1
    top: 20px
    font-size: 8px

  #navbarnav
    display: inline
    position: absolute
    top: 50px
    right: 0
    min-width: 100%
    background-color: rgba(255, 255, 255, .9)
    font-size: 1.5rem
    text-align: center

  #navbarnav li
    background-color: black

  .nav-link
    float: left
    clear: both
    min-width: 100%
    max-width: 100%
    padding-top: 10px
    border-bottom: 2px black solid
  #navbarnav li a
    display: inline
    color: black

  .fa.fa-bars
    position: absolute
    right: 5%
    top: 15%
    font-size: 2.5rem
    color: white
    visibility: visible

@media screen and (max-width: $break-smallest)

  .navbar h1
    top: 20px
    font-size: 8px

  .nav-link
    float: left
    clear: both
    min-width: 100%
    max-width: 100%
    padding-top: 10px
    border-bottom: 2px black solid

  #navbarnav li a
    display: inline
    color: black

  .fa.fa-bars
    position: absolute
    right: 5%
    top: 15%
    font-size: 2.5rem
    color: white
    visibility: visible
